:root {
	--primario: #443D44;
	--secundario: #B10DC9;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-family: Roboto, 'Helvetica', 'Arial';
}
nav {
	background-color: var(--secundario);
	color: white;
	font-size: 1.3rem;
}
a {
	text-decoration: none;
}
a:visited {
	color: inherit;
}
ul {
	padding: 20px;	
}
nav ul li {
	display: inline;
	padding: 10px;
	cursor: pointer;
}
nav li:hover {
	border-bottom: 3px solid var(--primario);
}
.panel {
	min-height: 50vh;
	padding: 20px;
	width: 100%;
}
.panel h2 {
	color: var(--secundario);
	position: relative;	
	margin-bottom: 10px;
}
.panel h2:after {
 	content : "";
  	position: absolute;
  	left    : 0;
  	bottom  : 0;
  	height  : 1px;
  	width   : 20%;
  	border-bottom: 1px solid var(--secundario);
}
.btn {
	border: none;
	background-color: var(--secundario);
	color: white;
	padding: 10px;
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
}
.btn:hover {	
	background-color: var(--primario);
}
/* Panel land */
#land {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#land > h1 {
	color: var(--secundario);
}
#land > div {
	margin-top: 10px;
	padding: 20px;
	background-color: var(--primario);
	color: white;
}
/* Panel de noticias */
#noticias, #resenias {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 30% 30%;
}
#noticias img {
	border-radius: 5px;
	width: 100%;
	max-height: 300px;
}
.imagen-noticia {
	margin-bottom: 10px;
}
.imagen-noticia h3 {
	color: var(--secundario);
}
.imagen-noticia > div {
	min-height: 100px;
}
.imagen-noticia > div > * {
	margin-top: 5px;
}
.columna {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.columna img {
	box-shadow: 0 1px 3px 0;
}
/* Panel de Top 7*/
#top  {
	display: grid;
	grid-template-columns: 1fr 50%;
}
#top-showcase {	
	position: relative;
	width: 40vw;
    height: 40vw;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#top-showcase:hover {
	opacity: 0.9;
}
#contenedor-lista {
	top: 40%;
	left: -50%;
	position: absolute;
	display: inline-block;
	min-width: 400px;
}
#top ul {
	list-style: none;
}
#top li {
	cursor: pointer;
	padding: 10px;
	font-size: 1.2rem;
	list-style: none;
	border-left: 5px solid var(--primario);
	background-color: var(--secundario);
	color: white;
	margin-bottom: 10px;
}
#top li:hover, #top li.seleccionado  {
	background-color: var(--primario);
	border-left: 5px solid var(--secundario);
}
/* Panel de reseñas */
#resenias {
	background-color: var(--primario);
	color: white;
}
.imagen-resenia {
	margin: 10px;
	width: 100%;
	display: flex;
	flex-direction: row;
}
.imagen-resenia img {
	border-radius: 5px;
	height: 200px;
	width: 200px;
}
.imagen-resenia > div {
	padding: 10px;
}

/* Media queries */
@media only screen and (max-width: 600px) {
	#noticias, #resenias, #top {		
		grid-template-columns: 1fr;
		
	}
	#top-showcase {
		margin-top: 10px;
		width: auto;
		height: 60vw;
	}
	#contenedor-lista {
		min-width: inherit;
		padding: 0;
		left: 0%;
		top: 0%;		
	}
	#contenedor-lista li {
		padding: 5px;
		opacity: 0.7;
		margin-bottom: 0;
		border-bottom: 1px solid var(--primario);
	}
}