:root {
	--primario: #443D44;
	--secundario: #B10DC9;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	    font-family: Roboto, 'Helvetica', 'Arial';
}
/*.contenedor {
	width: 90%;
	margin: 0 auto;
	padding: 10px;
}*/
nav {
	background-color: var(--secundario);
	color: white;
	font-size: 1.3rem;
}
a {
	text-decoration: none;
}
a:visited {
	color: inherit;
}
ul {
	padding: 20px;	
}
nav ul li {
	display: inline;
	padding: 10px;
	cursor: pointer;

}
nav li:hover {
	opacity: 0.5;
}
.panel {
	height: 100vh;
	padding: 20px;
	width: 100%;
	border-bottom: 1px solid black;
}
.panel h2 {
	color: var(--secundario);
	position: relative;
	
	margin-bottom: 10px;
}
.panel h2:after {
 	content : "";
  	position: absolute;
  	left    : 0;
  	bottom  : 0;
  	height  : 1px;
  	width   : 20%;
  	border-bottom: 1px solid var(--secundario);
}
.p-fondo {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.btn {
	border: none;
	background-color: var(--secundario);
	color: white;
	padding: 10px;
	border-radius: 5px;
	display: inline-block;
	cursor: pointer;
}
.btn:hover {	
	background-color: var(--primario);
}
/* Panel de noticias */
#noticias {
	display: grid;
	grid-template-columns: 1fr 70%;
}
.card {
	display: flex;
	flex-direction: row;
	box-shadow: 0 1px 3px 0;
	width: 400px;
	cursor: pointer;
}
.card:hover {
	box-shadow: 0 3px 7px 0;
}
.card > p {
	padding: 5px;
	color: var(--secundario);
	font-size: 1.1rem;
}
.card img {
	width: 50%;
}
#reja-noticias {
	display: grid;
	gap: 20px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 200px 200px;
}
/* Panel de Top 7*/
#top  {
	display: grid;
	grid-template-columns: 1fr 50%;
}
#top-showcase {	
	position: relative;
	width: 40vw;
    height: 40vw;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
#top-showcase:hover {
	opacity: 0.9;
}
#contenedor-lista {
	top: 40%;
	right: 110%;
	position: absolute;
	display: inline-block;
	width: 40%;
}
#top ul {
	list-style: none;
}
#top li {
	border-left: 5px solid var(--primario);
	min-width: 400px;
	cursor: pointer;
	padding: 10px;
	font-size: 1.2rem;
	list-style: none;
	background-color: magenta;
	color: white;
	margin-bottom: 10px;
}
.seleccionado, #top li:hover {
	background-color: var(--primario);
	border-left: 5px solid var(--secundario);
}